# local package
-e .

# external requirements
# click
# Sphinx
# coverage
# awscli
# flake8
# python-dotenv>=0.5.1
wheel
dvc
numpy
pandas
sklearn
tensorflow
keras
pytest
flask
joblib
# evidently #uncomment only if needed as takes long to install

